<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wonderful World of Butterflies</title>
  <link rel="stylesheet" href="/css/butterflies.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/butterflies">All butterflies</a>
      <a href="/butterflies/new">New butterfly</a>
      |
      <a href="/plants">All plants</a>
      <a href="/plants/new">New plant</a>
      | Families:
      <% @families.each do |f| %>
        <a href="/butterflies/families/<%= f %>"><%= f %></a>
      <% end %>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
