<h1>Look up a stock value</h1>

<form action="/stocks/quote" method="get">
  <label>
    Stock Symbol
    <input type="text" name="symbol" placeholder="GOOG" required>
  </label>
  <button>Fetch quote</button>
</form>
