<h1>Blog</h1>

<div class="post">
  <h2>First post</h2>
  <h3 class="author">Some jerk</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nulla asperiores iusto quisquam consectetur, hic sit! Dolorum aut voluptatum ad cum sit eius facere recusandae repudiandae quibusdam! Culpa, fuga, aut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat numquam id, voluptas alias! Quod voluptatum sed, eveniet rerum velit quibusdam maxime eum. Doloribus aspernatur ratione adipisci reiciendis ducimus, nesciunt officiis!</p>
  </div>
</div>

<div class="post">
  <h2>First post</h2>
  <h3 class="author">Some jerk</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nulla asperiores iusto quisquam consectetur, hic sit! Dolorum aut voluptatum ad cum sit eius facere recusandae repudiandae quibusdam! Culpa, fuga, aut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus voluptates doloremque quos, voluptatum eligendi soluta impedit ducimus, reiciendis eum consequuntur, nobis voluptate eos! Eius omnis voluptates reiciendis commodi laborum.</p>
  </div>
</div>

<div class="post">
  <h2>First post</h2>
  <h3 class="author">Some jerk</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nulla asperiores iusto quisquam consectetur, hic sit! Dolorum aut voluptatum ad cum sit eius facere recusandae repudiandae quibusdam! Culpa, fuga, aut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus autem, consequuntur odit sint commodi esse repellat dolorem. Consequatur blanditiis necessitatibus, dicta. Quasi quisquam, vero ad, soluta doloremque dignissimos nostrum voluptatem.</p>
  </div>
</div>

<hr>

<h1>Notifications Examples</h1>

<div class="notification">
  This is a notification
</div>

<div class="error">
  This is an error
</div>

<div class="success">
  This is success
</div>
