<h2><%= @butterfly['name'] %></h2>
<h3>Family: <em><%= @butterfly['family'] %></em></h3>

<% unless @butterfly['image'].nil? %>
  <img class="feature" src="<%= @butterfly['image'] %>" alt="">
<% end %>
