<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Lookup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Stock Price Lookup</h1>

  <!-- custom content will be inserted here from other files -->

    <%= yield %>

  <!-- custom content ends -->

  <footer>
    &copy; Copyright The Blade 2017
  </footer>
</body>
</html>
