/** {
  border: 1px solid green;
}*/

/* Tag name selectors */
body {
  background-color: pink;
  font-size: 150%; /* px, pt, em */
  color: #333333;
  /*font-style: italic;*/
  font-family: Arial; /* Web fonts */
}

p {
  line-height: 0.5;
  letter-spacing: 2px;
  text-align: center;
  /*text-decoration: line-through;*/
}

/* Class selector: classes can be reused */
.hero {
  text-shadow: 0 0 5px green;
}

/* ID selector: IDs are supposed to be unique per page */
#bill {
  border-radius: 100%;
  box-shadow: 10px 10px 15px black;
}

a {
  color: white;
}

/* Pseudoselectors */
a:visited {
  color: grey;
}

a:hover {
  background-color: red;
}

blockquote {
  background-color: green;
}

/* Descendant selector */
p em {
  font-size: 300%;
}

.box {
  border: 1px solid black;
  width: 110px;
  margin-top: 100px;
  padding: 20px;
}
