<h2>Welcome to the Home Page</h2>

<form action="/calc">
  <input type="number" placeholder="First number" name="x">
  <input type="text" placeholder="Operation: (+, -, *, /)" name="operator">
  <input type="number" placeholder="Second number" name="y">
  <button>Calculate</button>
</form>
