<div class="row">
  <div class="col-md-12">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Trump Assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam qui eos accusamus officia ab cupiditate, consequatur magni incidunt maxime! Cupiditate, vel. Ipsum assumenda aliquid pariatur. Temporibus repellendus iusto amet doloremque.</p>
  </div>
  <div class="col-md-4">
    <h2>Royal Family Actually Lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse eum debitis iure, adipisci natus doloremque, quis, fugiat quas aut odio voluptate magnam tempore sint omnis nam dolorum qui voluptas dolorem.</p>
    <img src="http://fillmurray.com/500/800" class="img-responsive img-circle" alt="">
  </div>
  <div class="col-md-4">
    <h2>Boobs on page 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ut ea, voluptate sint nobis perspiciatis, dolorem nemo ex, enim error vel illo suscipit voluptatem, unde. Molestiae maxime, placeat voluptatem deleniti.</p>
  </div>
</div>
