<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Sinatra Calculator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Crappy Sinatra Calculator</h1>

  <%= yield %>

  <img src="http://fillmurray.com/310/310">

</body>
</html>
