<h1>Dashboard</h1>

<p>Server stats: <span id="uptime"></span></p>

<p>The current time on the server is: <span id="time"></span></p>

<p>Here is a random Marx Brother: <span id="brother"></span></p>
