<a href="#">Home</a>

<h1>My Backbone Blog</h1>

<div id="main"></div>

<script id="postTemplate" type="text/template">
  <h2 class="post-title">{{ title }}</h2>
  <h3>Author: <em>{{ author }}</em></h3>
  <p>{{ content }}</p>
</script>
