<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic CSS Layout</title>
  <link rel="stylesheet" href="css/basic_layout.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content goes here</h2>
      <img src="http://fillmurray.com/400/600">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ratione consectetur, deserunt cupiditate debitis quia adipisci commodi quibusdam sint aperiam alias dolorem consequuntur officiis asperiores mollitia nihil labore, saepe. Nisi.</p>
    </main>

    <aside>
      <h3>Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
