<div id="main"></div>

<script type="text/template" id="appView">
  <h1>Tell me all your secrets</h1>

  <div id="secretInput"></div>

  <ul id="secrets"></ul>
</script>

<script type="text/template" id="secretInputView">
  <textarea autofocus placeholder="I eat glue"></textarea>
  <button>Submit</button>
</script>
