// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeicon {
  color: pink;
  transition: all 1s;
}

.homeicon:hover {
  text-shadow: 0 0 5px green;
}

body.pages.home {
  background-color: pink;
}

body.session.new {
  background: url(http://fillmurray.com/600/700);
  background-size: cover;
  background-position: center;
}

// body.session.new h1 {
//   background-color: grey;
// }
